@model projectSchedule1.ViewModels.LoginModels
@{ 
    ViewData["Title"] = "Login";
}
<div class="wrapper">
    <form class="form-signin" asp-action="Login" asp-controller="Login" method="post">
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <h2 class="form-signin-heading">Please login</h2>
        <input type="text" class="form-control" name="username" placeholder="Username"  autofocus="" asp-for="userName"/>
        <input type="password" class="form-control" name="password" placeholder="Password" asp-for="passWord" />      
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Login">
    </form>
</div>


@section Scripts {
    <script src="~/lib/jquery-validation/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}